﻿@model MovieStoreApp.Entities.Movies

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<p>
    <ul>
        <li>@Model.Name</li>
        <li>@Model.ReleaseDate</li>
        <li>@Model.DateAdded</li>
        <li>@Model.Genre.Name</li>
        <li>@Model.NumberInStock</li>
    </ul>
</p>

<p>
    @Html.ActionLink("Edit", "Edit","Movies") |
    @Html.ActionLink("Back to List", "Index")
</p>
