﻿
@model IEnumerable<MovieStoreApp.Entities.Movies>
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

@Html.ActionLink("New", "New", "Movies",  new { @class = "btn btn-primary" })
<br/>
<br />

@if (!Model.Any())
{
    <p>Registered movies not avaliable</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Movie</th>
            <th>Release Date</th>
            <th>Register Date</th>
            <th>Genre</th>
            <th>Available NO#</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(@movie.Name, "Detail", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.ReleaseDate.ToString("d")</td>
                <td>@movie.DateAdded.ToString("d")</td>
                <td>@movie.Genre.Name</td>
                <td>@movie.NumberInStock</td>
               
                <td>
                
                    @Html.ActionLink("Edit", "Edit", "Movies", new { id = movie.Id }, new { @class = "btn btn-success"})
                    @Html.ActionLink("Delete", "Delete", "Movies", new { id = movie.Id }, new { @class = "btn btn-danger" })
               
                </td>

            </tr>
        }
        </tbody>
    </table>
}


