﻿@model MovieStoreApp.ViewModels.NewMoviesViewModel

@{
    ViewBag.Title = "New";
}

<h2>Movie Form</h2>

@using (Html.BeginForm(Html.BeginForm("Save", "Movies"))) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Movies.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Movies.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Movies.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Movies.GenreId, "Genre", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
           
            @Html.DropDownListFor(model => model.Movies.GenreId,
                     new SelectList(Model.Genres, "Id", "Name"),
                     "Select Genre",
                     new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.Movies.GenreId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Movies.DateAdded, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Movies.DateAdded, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Movies.DateAdded, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Movies.ReleaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Movies.ReleaseDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Movies.ReleaseDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Movies.NumberInStock, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Movies.NumberInStock, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Movies.NumberInStock, "", new { @class = "text-danger" })
        </div>
    </div>

  


    @Html.HiddenFor(model => model.Movies.Id)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Save</button>

        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to movie List", "Index")
</div>
