﻿@using System.Collections.Specialized
@model MovieStoreApp.ViewModels.NewCustomerViewModel

@{
    ViewBag.Title = "New";
}

<h2>Customer Form</h2>

@using (Html.BeginForm(Html.BeginForm("Save", "Customer")))
{
    //added antiFrogery for securing against CSRF Cross side request forgery 
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    
    @* a summary message is displayed here *@
    @Html.ValidationSummary(true,"Please solve the following errors")

    <div class="form-group">
        @Html.LabelFor(model => model.Customers.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customers.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customers.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customers.MembershipTypeId, "Genre", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.DropDownListFor(model => model.Customers.MembershipTypeId,
                                         new SelectList(Model.MembershipTypes, "Id", "Name"),
                                         "Select Membership Type",
                                         new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.Customers.MembershipTypeId, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Customers.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customers.Birthdate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customers.Birthdate)
        </div>
    </div>


    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(model => model.Customers.IsSubscribedToNewsletter) Subscribed to Newsletter?
        </label>
    </div>

    @Html.HiddenFor(model => model.Customers.Id)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Save</button>

        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to customer List", "Index")
</div>

@section scripts
{
    @*we have the validation error doesnt let to communicate with server*@
    @*There is nothing in serverside all these happens in client side and its is faster*@
    @Scripts.Render("~/bundles/jqueryval")
}
