﻿@model MovieStoreApp.Entities.Customers
@{
    ViewBag.Title = "Detail";
}

<ul>
    <li>@Model.Name</li>
    <li>@Model.Birthdate.ToString()</li>
    <li>@Model.MembershipType.Name</li>

    
</ul>



