﻿@model IEnumerable<MovieStoreApp.Entities.Customers>

@{
    ViewBag.Title = "Index";
}

<h2>Customers </h2>

<p>

@Html.ActionLink("New", "New", "Customer", new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <p>Registered Customer not avaliable</p>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Name</th>
            <th>Birthdate</th>
            <th>Membership Package</th>
            <th>Discount Rate</th>
            <th>NewsLetter</th>
      
            <th></th>
        </tr>

        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.Birthdate</td>
                <td>@customer.MembershipType.Name</td>
                <td>@customer.MembershipType.DiscountRate %</td>
                @{
                    string status;
                    if (customer.IsSubscribedToNewsletter)
                    {
                        status = "ON";
                    }
                    else
                    {
                        status = "OFF";
                    }
                }
                <td>@status</td>

                <td>
                    @Html.ActionLink("Edit", "Edit", "Customer", new { id = customer.Id }, new { @class = "btn btn-success"})
                    @Html.ActionLink("Delete", "Delete", "Customer", new { id = customer.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
}

